
@{
    ViewData["Title"] = "سبد خرید";
}
<div class="text text-center" style="margin:30px;">
    <img src="/img/emptycart.png"/>
    <h2>سبد خرید شما خالی است !</h2>
    <h2 style="margin-top:10px;"><a href="/">انتقال به فروشگاه</a></h2>
</div>
