@using OnlineShop.Core.Convertors
@using OnlineShop.DataLayer.Entities.Order
@model IEnumerable<OnlineShop.DataLayer.Entities.Order.Order>
@{
    ViewData["Title"] = "لیست فاکتورها";
}

<div class="breadcrumb-holder">
    <!-- Content Row -->
    <div class="row">
        <ul class="breadcrumbs small-12 medium-8 large-8 columns">
            <li><a href="/">فروشگاه آنلاین رویا</a></li>
            <li><a>@ViewData["Title"]</a></li>
        </ul>
    </div>
    <!-- End Content Row -->
</div>
<div class="row bottom-margin featured-row">
    <partial name="_SideBar" />
    <div class="small-6 small-centered medium-9 medium-uncentered large-9 large-uncentered featured-row columns">
        <div class="lft-module-heading">
            @ViewData["Title"]
        </div>
        <div class="fr-border"></div>
        <div class="small-6 small-centered medium-12 medium-uncentered large-12 large-uncentered featured-row columns">
            <table class="form table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>تاریخ</th>
                        <th>مبلغ</th>
                        <th>وضعیت</th>
                        <th>شرح</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Order order in Model)
                    {
                        <tr>
                            <th class="text-center">@order.CreateDate.ToShamsi()</th>
                            <td class="text-center">@order.OrderSum.ToString("#,0 تومان")</td>
                            <td class="text-center">
                                @if (order.IsFinally)
                                {
                                    <p class="text-success">پرداخت شده</p>
                                }
                                else
                                {
                                    <p class="text-danger">پرداخت نشده</p>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


