@using OnlineShop.Core.Convertors
@using OnlineShop.DataLayer.Entities.Order
@model IEnumerable<OnlineShop.DataLayer.Entities.Order.Order>
@{
    ViewData["Title"] = "لیست فاکتورها";
}

<div class="breadcrumb-holder">
    <!-- Content Row -->
    <div class="row">
        <ul class="breadcrumbs small-12 medium-8 large-8 columns">
            <li><a href="/">فروشگاه آنلاین رویا</a></li>
            <li><a>@ViewData["Title"]</a></li>
        </ul>
    </div>
    <!-- End Content Row -->
</div>
<div class="row bottom-margin featured-row">
    <partial name="_SideBar" />
    <div class="small-6 small-centered medium-9 medium-uncentered large-9 large-uncentered featured-row columns">
        <div class="lft-module-heading">
            فاکتورهای شما
        </div>
        <div class="fr-border"></div>
        <div class="small-6 small-centered medium-12 medium-uncentered large-12 large-uncentered featured-row columns">
            <table class="form table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>شماره فاکتور</th>
                        <th>تاریخ</th>
                        <th>مبلغ فاکتور</th>
                        <th>وضعیت</th>
                        <th>دستورات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Order order in Model)
                    {
                        <tr>
                            <th class="text-center">@order.OrderId</th>
                            <th class="text-center">@order.CreateDate.ToShamsi()</th>
                            <td class="text-center">@order.OrderSum.ToString("#,0 تومان")</td>
                            <td class="text-center">
                                @if (order.IsFinally)
                                {
                                    <span class="text-center text-success">
                                        پرداخت شده
                                    </span>
                                }
                                else
                                {
                                    <span class="text-center text-danger">
                                        پرداخت نشده
                                    </span>
                                }
                            </td>
                            <td class="text-center">
                                <a href="/userpanel/order/showcart/@order.OrderId" class="btn btn-info">نمایش فاکتور</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


