@model OnlineShop.Core.DTOs.User.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<div class="breadcrumb-holder">
    <!-- Content Row -->
    <div class="row">
        <ul class="breadcrumbs small-12 medium-8 large-8 columns">
            <li><a href="/">فروشگاه آنلاین رویا</a></li>
            <li><a>@ViewData["Title"]</a></li>
        </ul>
    </div>
    <!-- End Content Row -->
</div>

<div class="row bottom-margin featured-row">
    <partial name="_SideBar" />
    <div class="small-6 small-centered medium-9 medium-uncentered large-9 large-uncentered featured-row columns">
        <div class="lft-module-heading">
            @ViewData["Title"]
        </div>
        <h1>تغییر کلمه عبور</h1>
        <div class="fr-border"></div>
        @if (ViewBag.IsSuccess == false)
        {
            <div class="small-12 small-centered medium-7 medium-uncentered large-7 large-uncentered columns">
                <div class="input-group contact-item text-center" style="max-width: 530px;">
                    <i>کلمه عبور فعلی وارد شده صحیح نیست. می توانید از طریق صفحه ورود به سایت و گزینه "رمز عبور خود را فراموش کرده ام" نسبت به تغییر کلمه عبور خود اقدام کنید !</i>
                </div>
            </div>
        }
        <div class="small-12 small-centered medium-7 medium-uncentered large-7 large-uncentered columns">
            <form asp-action="ChangePassword" class="form" method="post">

                <div class="input-group" style="margin-top: 15px;">
                    <span class="input-group-addon"><i>کلمه عبور فعلی:</i></span>
                    <input asp-for="CurrentPassword" type="text" class="form-control" />
                </div>

                <div class="input-group" style="margin-top: 15px;">
                    <span class="input-group-addon"><i>کلمه عبور جدید:</i></span>
                    <input asp-for="Password" type="password" class="form-control" />
                </div>

                <div class="input-group" style="margin-top: 15px;">
                    <span class="input-group-addon"><i>تکرار کلمه عبور جدید:</i></span>
                    <input asp-for="ConfirmedNewPassword" type="password" class="form-control" />
                </div>
                <div style="margin-top: 15px;">
                    <button class="btn-group btn-sm btn-success">ثبت تغییرات</button>
                </div>

                <div asp-validation-summary="All" style="margin-top: 15px;"></div>
            </form>
        </div>
    </div>
</div>
