
@{
    ViewData["Title"] = "صفحه اصلی";
}
@section SearchBox
{
    <div class="small-12 medium-12 large-3 searchinputholder columns">

        <input type="text" class="searchinput" placeholder=" جستجوی محصول ..." />

    </div>
}
<!-- Main Banners -->
<div class="mainbanner">

    <!-- SLIDER -->
    <div class="slider_container">
        <div class="flexslider">
            <ul class="slides">
                <!-- Slide 1 -->
                <li>
                    <a href="#"><img src="/img/slideshow/1.jpg" alt="" title="" /></a>
                    <!-- Slide Caption -->
                    <div class="flex-caption slideDown">
                        <div class="caption-heading">
                            آخرین پوشاک مجموعه
                        </div>
                        <!-- Clear  -->
                        <div class="clearing"></div>
                        <div class="caption-sub-heading">
                            لورم ایپسوم یا طرح‌نما
                        </div>
                        <!-- Button -->
                        <div class="clearing"></div>
                        <div class="main-banner-button">
                            <a href="#">فهرست مجموعه</a>
                        </div>

                    </div>
                </li>
                <!-- Slide 2 -->
                <li>
                    <a href="#"><img src="/img/slideshow/2.jpg" alt="" title="" /></a>
                    <!-- Slide Caption -->
                    <div class="flex-caption slideUp">
                        <div class="caption-heading">
                            شلوارجین زنانه
                        </div>
                        <!-- Clear  -->
                        <div class="clearing"></div>
                        <div class="caption-sub-heading">
                            لورم ایپسوم یا طرح‌نما
                        </div>
                        <!-- Button -->
                        <div class="clearing"></div>
                        <div class="main-banner-button">
                            <a href="#">نمایش فروش!</a>
                        </div>

                    </div>
                </li>
                <!-- End slide 2 -->

            </ul>
        </div>
    </div>
    <!-- End Slider -->

</div>
<!-- End Main Banners -->
<!-- Horizontal Border -->
<div class="contentborder">
</div>
<!-- End Horizontal Border -->
<!-- Featured Products -->
<!-- Heading -->
<div class="row featured-row">
    <h1 class="text-center">برجسته</h1>
    <div class="heading-summary text-center">            آخرین مجموعه ای از آیتم</div>
    <div class="fr-border"></div>
</div>
<!-- End Heading -->
<!-- Product Listing -->
<div class="row">

    <!-- Item -->
    <div class="small-8 medium-3 small-centered medium-uncentered large-3 large-uncentered columns f-product">
        <!-- Sale Tag -->
        <div class="sale-tag">
            SALE
        </div>
        <!-- End Sale Tag -->
        <img src="/img/product-list/1.jpg" alt="Product 1" />
        <!-- Product Link -->
        <div class="product-link text-center">
            <a href="#">محصول بالا</a>
        </div>

        <!-- Product Rating -->
        <div class="f-productrating">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
        </div>
        <!-- End Product Rating -->
        <!-- Product Price -->
        <div class="f-product-price">
            $50.90
        </div>

        <!-- AddtoCart Buttons -->
        <div class="f-product-hover">
            <div class="f-button">
                <a href="#"><i class="icon-cart"></i></a>
                <a href="#"><i class="icon-heart"></i></a>
                <a href="#"><i class="icon-tags"></i></a>
            </div>
        </div>
        <!-- End AddtoCart Buttons -->
    </div>
    <!-- End item -->
    <!-- Item -->
    <div class="small-8 medium-3 small-centered medium-uncentered large-3 large-uncentered  f-product columns">

        <img src="/img/product-list/2.jpg" alt="Product 1" />
        <!-- Product Link -->
        <div class="product-link text-center">
            <a href="#">محصول بالا</a>
        </div>
        <!-- Product Rating -->
        <div class="f-productrating">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
        </div>
        <!-- End Product Rating -->
        <!-- Product Price -->
        <div class="f-product-price">
            $50.90
        </div>

        <!-- AddtoCart Buttons -->
        <div class="f-product-hover">
            <div class="f-button">
                <a href="#"><i class="icon-cart"></i></a>
                <a href="#"><i class="icon-heart"></i></a>
                <a href="#"><i class="icon-tags"></i></a>
            </div>
        </div>
        <!-- End AddtoCart Buttons -->
    </div>
    <!-- End item -->
    <!-- Item -->
    <div class="small-8 medium-3 small-centered medium-uncentered large-3 large-uncentered columns f-product">

        <img src="/img/product-list/3.jpg" alt="Product 3" />
        <!-- Product Link -->
        <div class="product-link text-center">
            <a href="#">محصول بالا</a>
        </div>
        <!-- Product Rating -->
        <div class="f-productrating">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
        </div>
        <!-- End Product Rating -->
        <!-- Product Price -->
        <div class="f-product-price">
            $50.90
        </div>

        <!-- AddtoCart Buttons -->
        <div class="f-product-hover">
            <div class="f-button">
                <a href="#"><i class="icon-cart"></i></a>
                <a href="#"><i class="icon-heart"></i></a>
                <a href="#"><i class="icon-tags"></i></a>
            </div>
        </div>
        <!-- End AddtoCart Buttons -->
    </div>
    <!-- End item -->
    <!-- Item -->
    <div class="small-8 medium-3 small-centered medium-uncentered large-3 large-uncentered columns f-product">

        <img src="/img/product-list/4.jpg" alt="Product 4" />
        <!-- Product Link -->
        <div class="product-link text-center">
            <a href="#">محصول بالا</a>
        </div>
        <!-- Product Rating -->
        <div class="f-productrating">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
        </div>
        <!-- End Product Rating -->
        <!-- Product Price -->
        <div class="f-product-price">
            $50.90
        </div>

        <!-- AddtoCart Buttons -->
        <div class="f-product-hover">
            <div class="f-button">
                <a href="#"><i class="icon-cart"></i></a>
                <a href="#"><i class="icon-heart"></i></a>
                <a href="#"><i class="icon-tags"></i></a>
            </div>
        </div>
        <!-- End AddtoCart Buttons -->
    </div>
    <!-- End item -->
    <!-- Item -->
    <div class="small-8 medium-3 small-centered medium-uncentered large-3 large-uncentered columns f-product">
        <!-- Sale Tag -->
        <div class="sale-tag">
            SALE
        </div>
        <!-- End Sale Tag -->
        <img src="/img/product-list/5.jpg" alt="Product 5" />
        <!-- Product Link -->
        <div class="product-link text-center">
            <a href="#">محصول بالا</a>
        </div>

        <!-- Product Rating -->
        <div class="f-productrating">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
        </div>
        <!-- End Product Rating -->
        <!-- Product Price -->
        <div class="f-product-price">
            $50.90
        </div>

        <!-- AddtoCart Buttons -->
        <div class="f-product-hover">
            <div class="f-button">
                <a href="#"><i class="icon-cart"></i></a>
                <a href="#"><i class="icon-heart"></i></a>
                <a href="#"><i class="icon-tags"></i></a>
            </div>
        </div>
        <!-- End AddtoCart Buttons -->
    </div>
    <!-- End item -->
    <!-- Item -->
    <div class="small-8 medium-3 small-centered medium-uncentered large-3 large-uncentered  f-product columns">

        <img src="/img/product-list/6.jpg" alt="Product 6" />
        <!-- Product Link -->
        <div class="product-link text-center">
            <a href="#">محصول بالا</a>
        </div>
        <!-- Product Rating -->
        <div class="f-productrating">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
        </div>
        <!-- End Product Rating -->
        <!-- Product Price -->
        <div class="f-product-price">
            $50.90
        </div>

        <!-- AddtoCart Buttons -->
        <div class="f-product-hover">
            <div class="f-button">
                <a href="#"><i class="icon-cart"></i></a>
                <a href="#"><i class="icon-heart"></i></a>
                <a href="#"><i class="icon-tags"></i></a>
            </div>
        </div>
        <!-- End AddtoCart Buttons -->
    </div>
    <!-- End item -->
    <!-- Item -->
    <div class="small-8 medium-3 small-centered medium-uncentered large-3 large-uncentered columns f-product">

        <img src="/img/product-list/3.jpg" alt="Product 3" />
        <!-- Product Link -->
        <div class="product-link text-center">
            <a href="#">محصول بالا</a>
        </div>
        <!-- Product Rating -->
        <div class="f-productrating">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
        </div>
        <!-- End Product Rating -->
        <!-- Product Price -->
        <div class="f-product-price">
            $50.90
        </div>

        <!-- AddtoCart Buttons -->
        <div class="f-product-hover">
            <div class="f-button">
                <a href="#"><i class="icon-cart"></i></a>
                <a href="#"><i class="icon-heart"></i></a>
                <a href="#"><i class="icon-tags"></i></a>
            </div>
        </div>
        <!-- End AddtoCart Buttons -->
    </div>
    <!-- End item -->
    <!-- Item -->
    <div class="small-8 medium-3 small-centered medium-uncentered large-3 large-uncentered columns f-product">

        <img src="/img/product-list/2.jpg" alt="Product 1" />
        <!-- Product Link -->
        <div class="product-link text-center">
            <a href="#">محصول بالا</a>
        </div>
        <!-- Product Rating -->
        <div class="f-productrating">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
        </div>
        <!-- End Product Rating -->
        <!-- Product Price -->
        <div class="f-product-price">
            $50.90
        </div>

        <!-- AddtoCart Buttons -->
        <div class="f-product-hover">
            <div class="f-button">
                <a href="#"><i class="icon-cart"></i></a>
                <a href="#"><i class="icon-heart"></i></a>
                <a href="#"><i class="icon-tags"></i></a>
            </div>
        </div>
        <!-- End AddtoCart Buttons -->
    </div>
    <!-- End item -->


</div>

