@using OnlineShop.Core.DTOs.Product
@using OnlineShop.DataLayer.Entities.Product
@model IEnumerable<OnlineShop.Core.DTOs.Product.ShowProductListItemViewModel>
@{
    ViewData["Title"] = "صفحه اصلی";
}
@section SearchBox
{
    <div class="small-12 medium-12 large-3 searchinputholder columns">
        <form action="/Product" method="get">
            <input type="text" class="searchinput" name="filterName" placeholder=" جستجوی محصول ..." />
        </form>
    </div>
}
<!-- Main Banners -->
<div class="mainbanner">
    <!-- SLIDER -->
    <div class="slider_container">
        <div class="flexslider">
            <ul class="slides">
                <!-- Slide 1 -->
                <li>
                    <a href="#"><img src="/img/slideshow/1.jpg" alt="" title="" /></a>
                    <!-- Slide Caption -->
                </li>
                <!-- Slide 2 -->
                <li>
                    <a href="#"><img src="/img/slideshow/2.jpg" alt="" title="" /></a>
                    <!-- Slide Caption -->
                </li>
                <!-- End slide 2 -->
            </ul>
        </div>
    </div>
    <!-- End Slider -->
</div>
<!-- End Main Banners -->
<!-- Horizontal Border -->
<div class="contentborder">
</div>
<!-- End Horizontal Border -->
<!-- Featured Products -->
<!-- Heading -->
<div class="row featured-row">
    <h1 class="text-center">محصولات ما</h1>
    <div class="heading-summary text-center">جدیدترین محصولات ما</div>
    <div class="fr-border"></div>
</div>
<!-- End Heading -->
<!-- Product Listing -->
<div class="row">
    @foreach (var product in Model)
    {
        <partial name="_ProductBox" model="product" />
    }
</div>
<div class="row featured-row">
    <a href="/product"><h1 class="text-center"> مشاهده همه محصولات</h1></a>
    <div class="fr-border"></div>
</div>
<div class="row featured-row">
    <h1 class="text-center">محبوب ترین محصولات ما</h1>
    <div class="fr-border"></div>
</div>
<!-- End Heading -->
<!-- Product Listing -->
<div class="row">
    @{
        var populars = ViewBag.PopularProduct as List<ShowProductListItemViewModel>;
    }
    @if (populars != null)
    {
        @foreach (var product in populars)
        {
            <partial name="_ProductBox" model="product" />
        }
    }
</div>
<div class="row featured-row">
    <a href="/product"><h1 class="text-center"> مشاهده همه محصولات</h1></a>
    <div class="fr-border"></div>
</div>
