@using OnlineShop.Core.DTOs.Product
@model IEnumerable<OnlineShop.Core.DTOs.Product.ShowProductListItemViewModel>
@{
    ViewData["Title"] = "صفحه اصلی";
}
@section SearchBox
{
    <div class="small-12 medium-12 large-3 searchinputholder columns">

        <input type="text" class="searchinput" placeholder=" جستجوی محصول ..." />

    </div>
}
<!-- Main Banners -->
<div class="mainbanner">
    <!-- SLIDER -->
    <div class="slider_container">
        <div class="flexslider">
            <ul class="slides">
                <!-- Slide 1 -->
                <li>
                    <a href="#"><img src="/img/slideshow/1.jpg" alt="" title="" /></a>
                    <!-- Slide Caption -->
                    <div class="flex-caption slideDown">
                        <div class="caption-heading">
                            آخرین پوشاک مجموعه
                        </div>
                        <!-- Clear  -->
                        <div class="clearing"></div>
                        <div class="caption-sub-heading">
                            لورم ایپسوم یا طرح‌نما
                        </div>
                        <!-- Button -->
                        <div class="clearing"></div>
                        <div class="main-banner-button">
                            <a href="#">فهرست مجموعه</a>
                        </div>
                    </div>
                </li>
                <!-- Slide 2 -->
                <li>
                    <a href="#"><img src="/img/slideshow/2.jpg" alt="" title="" /></a>
                    <!-- Slide Caption -->
                    <div class="flex-caption slideUp">
                        <div class="caption-heading">
                            شلوارجین زنانه
                        </div>
                        <!-- Clear  -->
                        <div class="clearing"></div>
                        <div class="caption-sub-heading">
                            لورم ایپسوم یا طرح‌نما
                        </div>
                        <!-- Button -->
                        <div class="clearing"></div>
                        <div class="main-banner-button">
                            <a href="#">نمایش فروش!</a>
                        </div>
                    </div>
                </li>
                <!-- End slide 2 -->
            </ul>
        </div>
    </div>
    <!-- End Slider -->
</div>
<!-- End Main Banners -->
<!-- Horizontal Border -->
<div class="contentborder">
</div>
<!-- End Horizontal Border -->
<!-- Featured Products -->
<!-- Heading -->
<div class="row featured-row">
    <h1 class="text-center">محصولات ما</h1>
    <div class="heading-summary text-center">جدیدترین محصولات ما</div>
    <div class="fr-border"></div>
</div>
<!-- End Heading -->
<!-- Product Listing -->
<div class="row">
    @foreach (ShowProductListItemViewModel product in Model)
    {
        <partial name="_ProductBox" model="product"/>
    }
</div>

