@model OnlineShop.Core.DTOs.User.ResendActivationViewModel
@{
    ViewData["Title"] = "ارسال مجدد ایمیل فعالسازی حساب کاربری";
}

<div class="breadcrumb-holder">
    <!-- Content Row -->
    <div class="row">
        <ul class="breadcrumbs small-12 medium-8 large-8 columns">
            <li><a href="/">فروشگاه آنلاین رویا</a></li>
            <li><a>@ViewData["Title"]</a></li>
        </ul>
    </div>
    <!-- End Content Row -->
</div>
<div class="row bottom-margin featured-row">
    <h1>@ViewData["Title"]</h1>
    <div class="fr-border"></div>
    @if (    ViewBag.SendActivationEmail != null)
    {
        <div class="small-12 small-centered medium-7 medium-uncentered large-7 large-uncentered columns">
            <div class="input-group contact-item text-center" style="max-width: 530px;">
                <i>ایمیل حاوی لینک فعالسازی برای شما ارسال شد، در صورت عدم مشاهده ایمیل در <b>inbox</b> لطفا <b>spam</b> را چک کنید</i>
            </div>
        </div>
    }
    <!-- Contact form -->
    <div class="small-12 small-centered medium-7 medium-uncentered large-7 large-uncentered columns">
        <form asp-action="ReSendActivationEmail" class="form" method="post">
            <div class="input-group" style="margin-top: 15px;">
                <span class="input-group-addon"><i>ایمیل:</i></span>
                <input asp-for="Email" type="email" class="form-control" />
            </div>

            <div style="margin-top: 10px;">
                <button class="btn-group btn-sm btn-success">ارسال ایمیل</button>
            </div>

            <div asp-validation-summary="All" style="margin-top: 15px;"></div>
        </form>
    </div>
</div>

