@page "{id}"
@model OnlineShop.Web.Pages.Admin.Colors.DeleteColorModel
@{
    ViewData["Title"] = "حذف رنگ";
}
<div class="col-lg-12">
    <h1>@ViewData["Title"]</h1>
</div>
<hr />
<div class="container alert alert-danger">
    <form method="post">
        <input asp-for="Color.ColorId" type="hidden" />
        <input asp-for="Color.ColorName" type="hidden" />
        <h2>آیا از حذف رنگ "@Model.Color.ColorName" مطمئن هستید؟</h2>
        <p>
            <input type="submit" value="حذف رنگ" class="btn btn-sm btn-danger" />
            <a asp-page="Index" class="btn btn-sm btn-outline btn-info">انصراف</a>
        </p>
    </form>
</div>