@model OnlineShop.DataLayer.Entities.User.User

<div style="direction: rtl">
    <h2>@Model.FullName عزیز !</h2>
    <p>با تشکر از ثبت نام شما در فروشگاه ما، جهت فعالسازی و تکمیل ثبت نام خود روی لینک زیر کلیک کنید.</p>
    <p>
        <a href="httpss://localhost:7189/Account/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>
    </p>
   
</div>