<div class="footer-top-bg">
    <div class="row">
        <!-- Linkset -->
        <div class="footer-links small-12 medium-3 large-3 columns">
            <!-- Heading -->
            <div class="footer-links-heading">خدمات سفارشی</div>
            <!-- End Heading -->
            <!-- Links -->
            <ul class="flinks">
                <li><a href="#">ورود به صفحه</a></li>
                <li><a href="#">بررسی وضعیت سفارش</a></li>
                <li><a href="#">                            بخش حمل و نقل</a></li>
                <li><a href="#">سبد خرید</a></li>
                <li><a href="#">حساب کاربری</a></li>
            </ul>
            <!-- End Links -->
        </div>
        <!-- End Linkset -->
        <!-- Linkset -->
        <div class="footer-links small-12 medium-3 large-3 columns">
            <!-- Heading -->
            <div class="footer-links-heading">اطلاعات</div>
            <!-- End Heading -->
            <!-- Links -->
            <ul class="flinks">
                <li><a href="#">ورود به صفحه</a></li>
                <li><a href="#">بررسی وضعیت سفارش</a></li>
                <li><a href="#">                            بخش حمل و نقل</a></li>
                <li><a href="#">سبد خرید</a></li>
                <li><a href="#">حساب کاربری</a></li>
            </ul>
            <!-- End Links -->
        </div>
        <!-- End Linkset -->
        <!-- Linkset -->
        <div class="footer-links small-12 medium-3 large-3 columns">
            <!-- Heading -->
            <div class="footer-links-heading">پشتیبانی از ما</div>
            <!-- End Heading -->
            <!-- Links -->
            <ul class="flinks">
                <li><a href="#">ورود به صفحه</a></li>
                <li><a href="#">بررسی وضعیت سفارش</a></li>
                <li><a href="#">                            بخش حمل و نقل</a></li>
                <li><a href="#">سبد خرید</a></li>
                <li><a href="#">حساب کاربری</a></li>
            </ul>
            <!-- End Links -->
        </div>
        <!-- End Linkset -->
        <!-- Linkset -->
        <div class="footer-links small-12 medium-3 large-3 columns">
            <!-- Heading -->
            <div class="footer-links-heading">افزودنیهای پیشنهاد شده</div>
            <!-- End Heading -->
            <!-- Links -->
            <ul class="flinks">
                <li><a href="#">ورود به صفحه</a></li>
                <li><a href="#">بررسی وضعیت سفارش</a></li>
                <li><a href="#">                            بخش حمل و نقل</a></li>
                <li><a href="#">سبد خرید</a></li>
                <li><a href="#">حساب کاربری</a></li>
            </ul>
            <!-- End Links -->
        </div>
        <!-- End Linkset -->
    </div>
</div>

