<div class="footer-top-bg">
    <div class="row">
        <!-- Linkset -->
        <div class="footer-links small-12 medium-3 large-3 columns">
            <!-- Heading -->
            <div class="footer-links-heading">خدمات سفارشی</div>
            <!-- End Heading -->
            <!-- Links -->
            <ul class="flinks">
                <li><a href="#">ورود به صفحه</a></li>
                <li><a href="#">بررسی وضعیت سفارش</a></li>
                <li><a href="#">                            بخش حمل و نقل</a></li>
                <li><a href="#">سبد خرید</a></li>
                <li><a href="#">حساب کاربری</a></li>
            </ul>
            <!-- End Links -->
        </div>
        <!-- End Linkset -->
        <!-- Linkset -->
        <div class="footer-links small-12 medium-3 large-3 columns">
            <!-- Heading -->
            <div class="footer-links-heading">اطلاعات</div>
            <!-- End Heading -->
            <!-- Links -->
            <ul class="flinks">
                <li><a href="#">ورود به صفحه</a></li>
                <li><a href="#">بررسی وضعیت سفارش</a></li>
                <li><a href="#">                            بخش حمل و نقل</a></li>
                <li><a href="#">سبد خرید</a></li>
                <li><a href="#">حساب کاربری</a></li>
            </ul>
            <!-- End Links -->
        </div>
        <!-- End Linkset -->
        <!-- Linkset -->
        <div class="footer-links small-12 medium-3 large-3 columns">
            <!-- Heading -->
            <div class="footer-links-heading">پشتیبانی از ما</div>
            <!-- End Heading -->
            <!-- Links -->
            <ul class="flinks">
                <li><a href="#">ورود به صفحه</a></li>
                <li><a href="#">بررسی وضعیت سفارش</a></li>
                <li><a href="#">                            بخش حمل و نقل</a></li>
                <li><a href="#">سبد خرید</a></li>
                <li><a href="#">حساب کاربری</a></li>
            </ul>
            <!-- End Links -->
        </div>
        <!-- End Linkset -->
        <!-- Linkset -->
        <div class="footer-links small-12 medium-3 large-3 columns">
            <!-- Heading -->
            <div class="footer-links-heading">افزودنیهای پیشنهاد شده</div>
            <!-- End Heading -->
            <!-- Links -->
            <ul class="flinks">
                <li><a href="#">ورود به صفحه</a></li>
                <li><a href="#">بررسی وضعیت سفارش</a></li>
                <li><a href="#">                            بخش حمل و نقل</a></li>
                <li><a href="#">سبد خرید</a></li>
                <li><a href="#">حساب کاربری</a></li>
            </ul>
            <!-- End Links -->
        </div>
        <!-- End Linkset -->
    </div>
</div>
<!-- Footer Copleft -->
<div class="footer-copyleft-bg">
    <!-- Content Row -->
    <div class="row">

        <!-- Copyleft Info -->
        <div class="small-12 small-centered large-uncentered medium-uncentered medium-6 large-10 copyleft columns">
            برنامه نویس سایت قاسم شاهرخی shahrokhi20@yahoo.com
        </div>
        <!-- End Copyleft Info -->

        <div class="small-10 small-centered  medium-uncentered medium-3 large-2  columns">
            <!-- Social icons -->
            <div class="socialicons">
                <a href="#"><i class="icon-facebook"></i></a>
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-google-plus"></i></a>
                <a href="#"><i class="icon-instagram"></i></a>
            </div>
            <!-- End Social Icons -->
        </div>

    </div>
    <!-- End Row -->

</div>
<!-- End Footer Copyleft Bg -->
