@model OnlineShop.DataLayer.Entities.User.User

<div style="direction: rtl">
    <h2>@Model.FullName عزیز !</h2>
    <p>جهت بازیابی کلمه عبور روی لینک زیر کلیک کنید</p>
    <p>
        <a href="httpss://localhost:7189/Account/ResetPassword/@Model.ActiveCode">بازیابی کلمه عبور</a>
    </p>

</div>