@model OnlineShop.DataLayer.Entities.User.User
<div style="direction: rtl">
    <h2>@Model.FullName عزیز !</h2>
    <p>کلمه عبور شما با موفقیت تغییر کرد.</p>
    <p>در صورتی این تغییرات از جانب شما نبوده است لطفا وارد سایت شوید و کلمه عبور خود را تغییر دهید.</p>
    <p>در غیر این صورت نیازی نیست اقدامی انجام دهید.</p>
    <p>
        <a href="httpss://localhost:7189/login">ورود به سایت</a>
    </p>

</div>
